<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间设置成dao层接口的全类名-->
<mapper namespace="com.atguigu.dao.PermissionDao">

    <!--查询出所有权限菜单，加工后用插件渲染-->
    <select id="findAll" resultType="permission">
        select * from acl_permission where is_deleted=0
    </select>

    <!--三表关联查询，过去当前用户的权限菜单-->
    <select id="findPermissionByAdminId" resultType="permission">
        SELECT DISTINCT ap.* FROM acl_admin_role aar LEFT JOIN acl_role_permission arp
        ON aar.`role_id`=arp.`role_id` LEFT JOIN acl_permission ap
        ON arp.`permission_id`=ap.`id`
        WHERE aar.`admin_id`=#{adminId}
        AND ap.`type`=1
        AND aar.`is_deleted`=0
        AND arp.`is_deleted`=0
        AND ap.`is_deleted`=0
    </select>

    <!--插入实例-->
    <insert id="insert">
        insert into acl_permission(parent_Id,type,name,url,code,sort)
        values(#{parentId},#{type},#{name},#{url},#{code},#{sort})
    </insert>

    <!--根据id获取实例，用作修改时数据回显-->
    <select id="getById" resultType="permission">
        select * from acl_permission where id=#{id} and is_deleted=0
    </select>

    <!--修改实例-->
    <update id="update">
        update acl_permission
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="url!=null and url!=''">
                url=#{url},
            </if>
            <if test="code!=null and code!=''">
                code=#{code},
            </if>
            <if test="sort!=null and sort!=''">
                sort=#{sort},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--通过id获取子节点，迭代删除时使用-->
    <select id="findPermissionByParentId" resultType="permission">
        select * from acl_permission where parent_id=#{parentId} and is_deleted=0
    </select>

    <!--逻辑删除实例-->
    <update id="delete">
        update acl_permission set is_deleted=1 where id=#{id}
    </update>

    <!--根据当前登录用户的id获取全部按钮的权限code-->
    <select id="findPermissionCodeByAdminId" resultType="string">
        SELECT DISTINCT ap.code FROM acl_admin_role aar LEFT JOIN acl_role_permission arp
        ON aar.`role_id`=arp.`role_id` LEFT JOIN acl_permission ap
        ON arp.`permission_id`=ap.`id`
        WHERE aar.`admin_id`=#{adminId}
        AND ap.`type`=2
        AND aar.`is_deleted`=0
        AND arp.`is_deleted`=0
        AND ap.`is_deleted`=0
    </select>

    <!--直接获取全部的权限code，为超级管理员提供全部权限按钮时使用。但是要注意只获取按钮的-->
    <select id="findAllCode" resultType="string">
        select code from acl_permission where is_deleted=0 and type=2
    </select>
</mapper>