<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间设置成RoleMapper接口的全类名-->
<mapper namespace="com.atguigu.dao.RoleDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        select id,role_name,role_code,description,create_time,update_time,is_deleted from acl_role
    </sql>

    <!--搜索结果分页显示-->
    <select id="findPage" resultType="role">
        <include refid="columns"></include>
        <where>
            <!--判断有无搜索条件-->
            <if test="roleName != null and roleName != ''">
                role_name like concat('%',#{roleName},'%')
                <!--精准搜索：and role_name = #{roleName}-->
            </if>
            and is_deleted = 0
            order by id desc
        </where>
    </select>

    <!--查询单个实例，用于编辑页面的数据回显-->
    <select id="getById" resultType="role">
        <include refid="columns"/>
        where
        id = #{id}
    </select>

    <!--新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into acl_role (
        id ,
        role_name ,
        role_code ,
        description
        ) values (
        #{id} ,
        #{roleName} ,
        #{roleCode} ,
        #{description}
        )
    </insert>

    <!--修改方式一：可赋值为null
    <update id="update">
        update acl_role set
        role_name=#{roleName},role_code=#{roleCode},description=#{description}
        where id=#{id}
    </update>
    -->

    <!--修改方式二：使用set标签，赋为null或空串时不修改原来的数据-->
    <update id="update">
        update acl_role
        <set>
            <if test="roleName!=null and roleName!=''">
                role_name=#{roleName},
            </if>
            <if test="roleCode!=null and roleCode!=''">
                role_code=#{roleCode},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--逻辑删除-->
    <update id="delete">
        update acl_role set
        is_deleted = 1
        where
        id = #{id}
    </update>

    <!--获取所有角色-->
    <select id="findAll" resultType="role">
        <include refid="columns"></include>
        where is_deleted=0
    </select>

</mapper>