<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间设置成RoleDao的全类名-->
<mapper namespace="com.atguigu.dao.HouseBrokerDao">

    <!--两表联查，根据房源id查询该房源的经纪人信息，全部房源信息+用户信息的头像url和姓名-->
    <select id="findBrokerByHouseId" resultType="houseBroker">
        SELECT hhb.*,aa.name brokerName,aa.head_url brokerHeadUrl
        FROM hse_house_broker hhb
        JOIN acl_admin aa
        ON hhb.broker_id=aa.id
        WHERE hhb.house_id=#{houseId}
        AND hhb.is_deleted=0
        AND aa.is_deleted=0
    </select>

    <!--查询不是该房源经纪人的其他所有经纪人，为房源添加新的经纪人-->
    <!--注意：ids这个集合有可能是没有长度的，因为这个房源最开始一个经纪人都没有⚠️-->
    <select id="findHouseOtherBroker" resultType="admin">
        SELECT * FROM acl_admin
        <where>
            <if test="list.size>0">
                id not in
                <!--循环查询参数，去掉所有已有的经纪人-->
                <foreach collection="list" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            and is_deleted=0
        </where>
    </select>

    <!--新增房源的经纪人-->
    <insert id="insert">
        insert into hse_house_broker(house_id,broker_id)
        values(#{houseId},#{brokerId})
    </insert>

    <!--删除房源的经纪人-->
    <update id="delete">
        update hse_house_broker set is_deleted=1 where id=#{id}
    </update>
</mapper>